.appointment{
  padding: 60px 0;
  position: relative;
  background-image: url('../../../assets/Images/bgworks.png');
  background-repeat: no-repeat;
  background-position: 20px 140px;
  background-color: #f5f5fc;
  border-radius: 30px;
}
.appointment .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appointment .boxform{
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 10px 60px 0 rgba(31,34,120,.1);
  padding: 35px 35px;
  position: relative;
  text-align: center;
}
.appointment .boxform h2{
  color: #1f2278;
  font-weight: 600;
  line-height: 1.3;
}
.appointment .boxform form{
  padding: 30px 0 0 0;
}
.appointment .boxform form input,
.appointment .boxform form select{
  border: 1px solid rgba(86,90,207,.3);
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  padding: 15px 20px;
  transition: 0.3s ease;
  background-color: var(--colo-white);
}
.appointment .boxform form input:hover,
.appointment .boxform form select:hover{
  border-color: #565acf;
  transition: 0.3s ease;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.appointment .btnsubmit{
  background-color: #f17732;
  color: #fff;
  margin-top: 15px;
  font-size: 21px;
} 
.appointment .btnsubmit:hover{
  background-color: var(--color-orange-hover);
  color: #fff;
} 
.appointment .imgperson{
  position: absolute;
  right: 12%;
  width: 16%;
  top: 31%;
  animation: moveHorizontal 7s linear infinite;
}
.appointment .img01{
  position: absolute;
  left: 73%;
  width: 4%;
  top: 67%;
}
.appointment .img02{
  position: absolute;
  left: 56%;
  width: 5%;
  top: 38%;
}
.appointment .img03{
  position: absolute;
  left: 78%;
  width: 5%;
  top: 8%;
}


@keyframes moveHorizontal {
  0% {
    transform: translateX(0); 
  }
  25%{
    transform: translateX(-12px); 
  }
  50%{
    transform: translateX(0); 
  }
  75% {
    transform: translateX(12px);
  }
  100% {
    transform: translateX(0);
  }
}